<main>
  <app-content-block caption="监控视频演示">
    <ng-container *ngFor="let monitor of monitors">
      <div class="content-block" (click)="selectMonitor(monitor.title)">
        <div class="content-item">
          <span>{{monitor.title}}</span>
        </div>
      </div>
    </ng-container>
  </app-content-block>
  <div style="margin-top: 20px;">
    <app-content-block caption="设备弹窗演示">
      <ng-container *ngFor="let monitorEqui of monitorEquis; index as i">
        <div class="refresh-block" (click)="selectMonitor(monitorEqui.title)">
          <div class="refresh-item">
            <span>{{monitorEqui.title}}</span>
            <div class="refresh-icon" (click)="refresh(monitorEqui)">
              <img src="assets/icon/monitor/refresh.png" />
            </div>
          </div>
          <input (click)="stopPropagation($event)" (keydown)="stopPropagation($event)" [(ngModel)]="monitorEqui.url" />
        </div>
      </ng-container>
    </app-content-block>
  </div>
</main>
