.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  box-sizing: border-box;
  margin: 54px 60px 0;
  .title {
    position: relative;
    z-index: 99;
    div {
      width: 912px;
      color: #ffffff;
      font-weight: bold;
      writing-mode: horizontal-tb;
      letter-spacing: 0px;
      text-overflow: ellipsis;
      white-space: nowrap;
      opacity: 1;
    }
    .cn {
      font-size: 48px;
      line-height: 58px;
      text-align: justify;
      text-align-last: justify;
    }
    .en {
      font-family: "Roboto";
      font-size: 26px;
      line-height: 34px;
    }
  }
  .info {
    position: relative;
    z-index: 99;
    display: flex;
    .exampleCode {
      height: 43px;
      line-height: 43px;
      // margin-right: 24px;
      app-switcher {
        width: 117px;
        pointer-events: all;
      }
    }
  }
}
