<div class="header">
    <div class="title">
      <div class="cn">光辉城市数据智能可视化分析接口演示</div>
      <div class="en">SHEENCITY DIVA (DATA INTELLIGENCE VISUAL ANALYSIS) API DEMO</div>
    </div>
    <div class="info">
      <div class="fullScreen">
        <app-switcher (switch)="toggleFullScreen($event)" [(ngModel)]="fullScreen" [label]="'全屏'"></app-switcher>
      </div>
      <div class="exampleCode">
        <app-switcher [(ngModel)]="exampleCode" [label]="'显示示例代码'"></app-switcher>
      </div>
    </div>
  </div>
