<main>
  <div class="nav-list">
    <div class="nav-item">
      <div class="nav-block" routerLinkActive="selected" routerLink="/scene">
        <span>场景切换</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/video">
        <span>漫游路径</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/global">
        <span>全局配置</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/weather">
        <span>天气控制</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/date">
        <span>日期时间</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/floor">
        <span>楼层展示</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/state">
        <span>状态演示</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/overlay">
        <span>覆盖物</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/monitor">
        <span>监控设备</span>
      </div>
      <div class="nav-block" routerLinkActive="selected" routerLink="/lamp">
        <span>灯光控制</span>
      </div>
      <div
        class="nav-block"
        routerLinkActive="selected"
        routerLink="/airConditioner"
      >
        <span>高级定制</span>
      </div>
      <div
        class="nav-block"
        routerLinkActive="selected"
        routerLink="/customize"
      >
        <span>高级定制</span>
      </div>
    </div>
  </div>
  <div class="tips">* 嵌入页面模式下键入 Ctrl + Shift + Q 可退回至编辑模式。展示数据经过脱敏，仅用于演示。</div>
</main>
