<main>
    <div class="nav-list">
      <div class="nav-item">
        <div class="nav-block" routerLinkActive="selected" routerLink="/scene">场景切换</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/video">视频播放</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/weather">天气演示</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/date">日期切换</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/state">状态演示</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/poi">POI信息</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/customize">高级定制</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/basic">基本操作</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/global">全局开关</div>
      </div>
    </div>
  </main>
