main {
  pointer-events: all;
  .nav-list {
    position: relative;
    .nav-block {
      width: 130px;
      height: 58px;
      margin-top: 2px;
      line-height: 62px;
      text-align: center;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      color: #fff;
      font-weight: 700;
      span {
        backdrop-filter: unset;
      }
      &:hover {
        cursor: pointer;
        background: rgba(38, 38, 38, 0.85);
        color: #fff;
      }
      &:focus {
        outline: none;
        border: 0;
      }
    }
  }
  .selected {
    color: #ffffff !important;
    background-color: rgba(0, 165, 255, 0.43) !important;
    &:hover {
      background-color: rgba(0, 165, 255, 0.43) !important;
    }
  }
  .tips {
    position: absolute;
    color: #ffffff;
    font-size: 13px;
    opacity: 0.8;
    height: 20px;
    line-height: 20px;
    bottom: 2.8%;
  }
}
