<main>
    <div class="nav-list">
      <div class="nav-item">
        <div class="nav-block" routerLinkActive="selected" routerLink="/global">全局配置</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/scene">场景切换</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/video">漫游路径</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/weather">天气控制</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/date">日期时间</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/floor">楼层展示</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/state">状态演示</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/overlay">覆盖物</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/monitor">监控设备</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/lamp">灯光控制</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/airConditioner">空调控制</div>
        <div class="nav-block" routerLinkActive="selected" routerLink="/customize">高级定制</div>
      </div>
    </div>
  </main>
