main {
    pointer-events: all;
    .nav-list {
      position: relative;
      .nav-block {
        width: 130px;
        height: 62px;
        margin-top: 2px;
        line-height: 62px;
        text-align: center;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        color: #bfbfbf;
        font-weight: 700;
        &:hover {
          cursor: pointer;
          background: rgba(38, 38, 38, 0.85);
          color: #bfbfbf;
        }
        &:focus {
          outline: none;
          border: 0;
        }
      }
    }
    .selected {
      color: #ffffff !important;
      background-color: rgba(0, 165, 255, 0.43) !important;
  
      &:hover {
        background-color: rgba(0, 165, 255, 0.43) !important;
      }
    }
  }