main {
  pointer-events: all;
  .overlay-block {
    width: 282px;
    padding: 12px 20px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    .drop-item {
      height: 24px;
      display: flex;
      justify-content: space-between;
      span {
        line-height: 24px;
        font-weight: bold;
        color: #fff;
      }
      app-dropdown {
        width: 57px;
      }
    }
    .input-item {
      margin-top: 12px;
      height: 24px;
      display: flex;
      justify-content: space-between;
      span {
        line-height: 24px;
        font-weight: bold;
        color: #fff;
      }
      .coordinate-items {
        width: 174px;
        display: flex;
        justify-content: space-between;
        .coordinate-item {
          display: flex;
          justify-content: space-between;
          width: 55px;
          span {
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
          }
          input {
            width: 45px;
          }
        }
      }
      input {
        font-size: 12px;
        color: #fff;
        width: 57px;
        height: 100%;
        padding: 6px;
        box-sizing: border-box;
        border: none;
        border-radius: 2px;
        outline: none;
        background: rgba(0, 0, 0, 0.3);
      }
      input[type="number"] {
        text-align: right;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
      input[type="text"] {
        width: 194px;
        &::placeholder {
          color: #fff;
          font-size: 12px;
          font-weight: normal;
        }
        // text-align: right;
      }
      input[type="color"] {
        background-color: #fff;
        padding: 2px;
        &::-webkit-color-swatch {
          border: none;
        }
      }
      textarea {
        width: 194px;
        box-sizing: border-box;
        padding: 0 6px;
        padding-top: 4px;
        outline: none;
        border: none;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 12px;
        font-family: "微软雅黑";
        resize: none;
        &::placeholder {
          color: #fff;
          font-size: 12px;
          font-weight: normal;
        }
      }
      textarea::-webkit-scrollbar {
        width: 3px;
      }
      textarea::-webkit-scrollbar-thumb {
        width: 3px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .btn-item {
      width: 100%;
      height: 24px;
      display: flex;
      margin-top: 12px;
      justify-content: space-between;
      span {
        line-height: 24px;
        font-weight: bold;
        color: #fff;
      }
      button {
        cursor: pointer;
        width: 58px;
        background: rgba(255, 255, 255, 0.1);
        line-height: 22px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        border: 1px solid #fff;
        outline: none;
        border-radius: 2px;
      }
    }
  }
  .overlay-list {
    width: 282px;
    padding: 20px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    cursor: pointer;
    .overlay-item {
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      span {
        line-height: 24px;
        font-weight: bold;
      }
      .overlay-info {
        display: flex;
        justify-content: space-between;
        .overlay-delete {
          cursor: pointer;
          margin-left: 12px;
          width: 24px;
          height: 24px;
        }
      }
    }
    .selected {
      color: #fff;
    }
  }
  .scroll {
    width: 300px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
  }
  .scroll::-webkit-scrollbar-button {
    display: none;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 7px;
  }
}

:host ::ng-deep {
  .coordinate-items app-input-number input {
    width: 45px;
  }
}
