main {
    pointer-events: all;
    .switch-block {
        width: 240px;
        padding: 20px;
        margin-top: 8px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        .switch-item {
            width: 100%;
            app-switcher {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}