.win {
  width: 100%;
  height: 100%;
  main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.4) 100%
        )
        top/auto 170px no-repeat,
      linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)
        left/524px 100% no-repeat,
      linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)
        right/524px 100% no-repeat;
    header {
        width: 100%;
        height: 170px;
        flex-shrink: 0;
    }
    article {
        position: absolute;
        top: 170px;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        nav {
            margin-left: 60px;
        }
        .content {
            margin-right: 60px;
        }
        .codeView {
          position: absolute;
          left: 60px;
          bottom: 60px;
          width: 1087px;
          height: 92px;
          box-sizing: border-box;
          padding: 20px;
          padding-right: 0;
          background: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(8px);
        }
    }
  }
}

.backend-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
