.win {
  main {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    min-height: 100%;
    pointer-events: none;
    // background: url('../assets/bg.png') no-repeat;
    // background-size: 100% 100%;
    background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.4) 100%
        )
        top/auto 170px no-repeat,
      linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
        left/300px 100% no-repeat,
      linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
        right/420px 100% no-repeat;
    header {
      width: 100%;
      padding-top: 4px;
    }
    article {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      nav {
        margin-left: 60px;
      }
      .content {
        margin-right: 60px;
      }
      .codeView {
        position: absolute;
        left: 60px;
        top: 933px;
        width: 1087px;
        height: 92px;
        box-sizing: border-box;
        padding: 20px;
        padding-right: 0;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
      }
    }
  }
  main.includeCodeArea {
    min-height: 1025px;
  }
}

/* TODO: 设置分辨率时会产生白边  */
.backend-container {
  position: fixed;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  z-index: 1;
}
