<main>
  <app-content-block caption="操作帮助">
    <div class="help-block">
      <div class="title">鼠标操作帮助</div>
      <div class="help-item">
        <span>左键</span>
        <span>触发事件</span>
      </div>
      <hr />
      <div class="help-item">
        <span>右键</span>
        <span>旋转</span>
      </div>
      <hr />
      <div class="help-item">
        <span>中键</span>
        <span>绕屏幕中心旋转</span>
      </div>
      <hr />
      <div class="help-item">
        <span>Shift + 中键</span>
        <span>平移</span>
      </div>
    </div>
    <div class="help-block">
      <div class="title">键盘操作帮助</div>
      <div class="help-item">
        <span>W,S,A,D</span>
        <span>前，后，左，右</span>
      </div>
      <hr />
      <div class="help-item">
        <span>Q,E</span>
        <span>垂直升降</span>
      </div>
    </div>
  </app-content-block>

  <div style="margin-top: 20px">
    <app-content-block caption="其他设置">
      <div class="global-block">
        <div class="drop-item">
          <span>模式</span>
          <div>
            <app-dropdown
              [options]="options"
              [(ngModel)]="selectedMode"
            ></app-dropdown>
          </div>
        </div>
        <div class="switch-item">
          <app-switcher [(ngModel)]="compass" [label]="'罗盘'"></app-switcher>
        </div>
        <div class="switch-item">
          <app-switcher [(ngModel)]="rotation" [label]="'镜头旋转'"></app-switcher>
        </div>
      </div>
    </app-content-block>
  </div>
</main>
