main {
    width: 240px;
    .title {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        border-bottom: 1px solid #fff;
        span {
            line-height: 24px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }
    .content {
        // max-height: 680px;
        // overflow-y: scroll;
    }
}