<main>
  <app-content-block caption="数字孪生电梯演示">
    <ng-container *ngFor="let lift of lifts; index as i">
      <div
        (click)="activeLift(i)"
        class="drop-block"
        [style.z-index]="active === i ? 104 : unset"
      >
        <div class="drop-item selected">
          <span>{{ lift.title }}</span>
          <div>
            <app-dropdown
              (select)="selectLift($event, i)"
              [options]="options"
              [(ngModel)]="lift.selected"
            ></app-dropdown>
            <span style="margin-left: 4px">层</span>
          </div>
        </div>
      </div>
    </ng-container>
  </app-content-block>
  <div style="margin-top: 20px;">
    <app-content-block caption="空调控制">
      <ng-container *ngFor="let airDec of airDecs; index as i">
        <div class="switch-block" (click)="onClick(i)">
          <div class="switch-item">
            <app-switcher (switch)="onSwitch($event, i)" [(ngModel)]="airDec.state" [label]="airDec.title"></app-switcher>
          </div>
        </div>
      </ng-container>
    </app-content-block>
  </div>
</main>
