<main>
  <app-content-block caption="预设四季">
    <ng-container *ngFor="let season of seasons; index as i">
      <div class="content" (click)="switchSeason(season)">
        <div class="title">{{ season.title }}</div>
        <div class="icon">
          <img [src]="iconBind(season.name)" />
        </div>
      </div>
    </ng-container>
  </app-content-block>
  <div style="margin-top: 20px">
    <app-content-block caption="预设时间">
      <ng-container *ngFor="let noon of noons; index as i">
        <div class="content" (click)="switchNoon(noon)">
          <div class="title">{{ noon.title }}</div>
          <div class="icon">
            <img [src]="iconBind(noon.name)" />
          </div>
        </div>
      </ng-container>
    </app-content-block>
  </div>
  <div style="margin-top: 20px">
    <app-content-block caption="自定义">
      <div class="date-block">
        <div class="date-select">
          <span class="date-title">日期</span>
          <input type="date" [(ngModel)]="date" />
        </div>
        <div class="date-select date-time">
          <span>时间</span>
          <input type="time" [(ngModel)]="time" />
        </div>
      </div>
    </app-content-block>
  </div>
</main>
